USE [QLDA]
GO
ALTER TABLE [dbo].[TienDo] DROP CONSTRAINT [FK_TienDo_CongViec_CongViecID]
GO
ALTER TABLE [dbo].[TaiLieuDuAn] DROP CONSTRAINT [FK_TaiLieuDuAn_DuAn_DuAnID]
GO
ALTER TABLE [dbo].[PhanCongCongViec] DROP CONSTRAINT [FK_PhanCongCongViec_NhanVien_NhanVienID]
GO
ALTER TABLE [dbo].[PhanCongCongViec] DROP CONSTRAINT [FK_PhanCongCongViec_CongViec_CongViecID]
GO
ALTER TABLE [dbo].[PhanCong] DROP CONSTRAINT [FK_PhanCong_NhanVien_NhanVienID1]
GO
ALTER TABLE [dbo].[PhanCong] DROP CONSTRAINT [FK_PhanCong_NhanVien_NhanVienID]
GO
ALTER TABLE [dbo].[PhanCong] DROP CONSTRAINT [FK_PhanCong_DuAn_DuAnID1]
GO
ALTER TABLE [dbo].[PhanCong] DROP CONSTRAINT [FK_PhanCong_DuAn_DuAnID]
GO
ALTER TABLE [dbo].[NhatKyHoatDong] DROP CONSTRAINT [FK_NhatKyHoatDong_NhanVien_NhanVienID]
GO
ALTER TABLE [dbo].[NhanVien_VaiTro] DROP CONSTRAINT [FK_NhanVien_VaiTro_VaiTro_VaiTroID]
GO
ALTER TABLE [dbo].[NhanVien_VaiTro] DROP CONSTRAINT [FK_NhanVien_VaiTro_NhanVien_NhanVienID]
GO
ALTER TABLE [dbo].[DuAn] DROP CONSTRAINT [FK_DuAn_NhanVien_QuanLyID]
GO
ALTER TABLE [dbo].[DuAn] DROP CONSTRAINT [FK_DuAn_KhachHang_KhachHangID]
GO
ALTER TABLE [dbo].[CongViec] DROP CONSTRAINT [FK_CongViec_DuAn_DuAnID]
GO
ALTER TABLE [dbo].[Bug] DROP CONSTRAINT [FK_Bug_NhanVien_NguoiXuLyID]
GO
ALTER TABLE [dbo].[Bug] DROP CONSTRAINT [FK_Bug_NhanVien_NguoiBaoCaoID]
GO
ALTER TABLE [dbo].[Bug] DROP CONSTRAINT [FK_Bug_DuAn_DuAnID]
GO
/****** Object:  Index [IX_TienDo_CongViecID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_TienDo_CongViecID] ON [dbo].[TienDo]
GO
/****** Object:  Index [IX_TaiLieuDuAn_DuAnID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_TaiLieuDuAn_DuAnID] ON [dbo].[TaiLieuDuAn]
GO
/****** Object:  Index [IX_PhanCongCongViec_NhanVienID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_PhanCongCongViec_NhanVienID] ON [dbo].[PhanCongCongViec]
GO
/****** Object:  Index [IX_PhanCongCongViec_CongViecID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_PhanCongCongViec_CongViecID] ON [dbo].[PhanCongCongViec]
GO
/****** Object:  Index [IX_PhanCong_NhanVienID1]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_PhanCong_NhanVienID1] ON [dbo].[PhanCong]
GO
/****** Object:  Index [IX_PhanCong_NhanVienID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_PhanCong_NhanVienID] ON [dbo].[PhanCong]
GO
/****** Object:  Index [IX_PhanCong_DuAnID1]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_PhanCong_DuAnID1] ON [dbo].[PhanCong]
GO
/****** Object:  Index [IX_PhanCong_DuAnID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_PhanCong_DuAnID] ON [dbo].[PhanCong]
GO
/****** Object:  Index [IX_NhatKyHoatDong_NhanVienID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_NhatKyHoatDong_NhanVienID] ON [dbo].[NhatKyHoatDong]
GO
/****** Object:  Index [IX_NhanVien_VaiTro_VaiTroID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_NhanVien_VaiTro_VaiTroID] ON [dbo].[NhanVien_VaiTro]
GO
/****** Object:  Index [IX_NhanVien_VaiTro_NhanVienID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_NhanVien_VaiTro_NhanVienID] ON [dbo].[NhanVien_VaiTro]
GO
/****** Object:  Index [IX_DuAn_QuanLyID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_DuAn_QuanLyID] ON [dbo].[DuAn]
GO
/****** Object:  Index [IX_DuAn_KhachHangID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_DuAn_KhachHangID] ON [dbo].[DuAn]
GO
/****** Object:  Index [IX_CongViec_DuAnID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_CongViec_DuAnID] ON [dbo].[CongViec]
GO
/****** Object:  Index [IX_Bug_NguoiXuLyID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_Bug_NguoiXuLyID] ON [dbo].[Bug]
GO
/****** Object:  Index [IX_Bug_NguoiBaoCaoID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_Bug_NguoiBaoCaoID] ON [dbo].[Bug]
GO
/****** Object:  Index [IX_Bug_DuAnID]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP INDEX [IX_Bug_DuAnID] ON [dbo].[Bug]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 2/1/2026 10:14:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VaiTro]') AND type in (N'U'))
DROP TABLE [dbo].[VaiTro]
GO
/****** Object:  Table [dbo].[TienDo]    Script Date: 2/1/2026 10:14:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TienDo]') AND type in (N'U'))
DROP TABLE [dbo].[TienDo]
GO
/****** Object:  Table [dbo].[TaiLieuDuAn]    Script Date: 2/1/2026 10:14:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TaiLieuDuAn]') AND type in (N'U'))
DROP TABLE [dbo].[TaiLieuDuAn]
GO
/****** Object:  Table [dbo].[PhanCongCongViec]    Script Date: 2/1/2026 10:14:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PhanCongCongViec]') AND type in (N'U'))
DROP TABLE [dbo].[PhanCongCongViec]
GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 2/1/2026 10:14:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PhanCong]') AND type in (N'U'))
DROP TABLE [dbo].[PhanCong]
GO
/****** Object:  Table [dbo].[NhatKyHoatDong]    Script Date: 2/1/2026 10:14:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhatKyHoatDong]') AND type in (N'U'))
DROP TABLE [dbo].[NhatKyHoatDong]
GO
/****** Object:  Table [dbo].[NhanVien_VaiTro]    Script Date: 2/1/2026 10:14:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhanVien_VaiTro]') AND type in (N'U'))
DROP TABLE [dbo].[NhanVien_VaiTro]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 2/1/2026 10:14:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhanVien]') AND type in (N'U'))
DROP TABLE [dbo].[NhanVien]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 2/1/2026 10:14:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KhachHang]') AND type in (N'U'))
DROP TABLE [dbo].[KhachHang]
GO
/****** Object:  Table [dbo].[DuAn]    Script Date: 2/1/2026 10:14:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DuAn]') AND type in (N'U'))
DROP TABLE [dbo].[DuAn]
GO
/****** Object:  Table [dbo].[CongViec]    Script Date: 2/1/2026 10:14:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CongViec]') AND type in (N'U'))
DROP TABLE [dbo].[CongViec]
GO
/****** Object:  Table [dbo].[Bug]    Script Date: 2/1/2026 10:14:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bug]') AND type in (N'U'))
DROP TABLE [dbo].[Bug]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/1/2026 10:14:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
USE [master]
GO
/****** Object:  Database [QLDA]    Script Date: 2/1/2026 10:14:54 PM ******/
DROP DATABASE [QLDA]
GO
/****** Object:  Database [QLDA]    Script Date: 2/1/2026 10:14:54 PM ******/
CREATE DATABASE [QLDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLDA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLDA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDA]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/1/2026 10:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bug]    Script Date: 2/1/2026 10:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bug](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[MucDo] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](max) NULL,
	[NgayBaoCao] [datetime2](7) NULL,
	[DuAnID] [int] NOT NULL,
	[NguoiBaoCaoID] [int] NOT NULL,
	[NguoiXuLyID] [int] NULL,
 CONSTRAINT [PK_Bug] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongViec]    Script Date: 2/1/2026 10:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViec](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenCongViec] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayBatDau] [datetime2](7) NULL,
	[HanHoanThanh] [datetime2](7) NULL,
	[TrangThai] [nvarchar](max) NULL,
	[DoUuTien] [nvarchar](max) NULL,
	[DuAnID] [int] NOT NULL,
 CONSTRAINT [PK_CongViec] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuAn]    Script Date: 2/1/2026 10:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuAn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDuAn] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayBatDau] [datetime2](7) NULL,
	[NgayKetThuc] [datetime2](7) NULL,
	[TrangThai] [nvarchar](max) NULL,
	[KhachHangID] [int] NOT NULL,
	[QuanLyID] [int] NOT NULL,
 CONSTRAINT [PK_DuAn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 2/1/2026 10:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](max) NOT NULL,
	[DienThoai] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 2/1/2026 10:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoVaTen] [nvarchar](max) NOT NULL,
	[DienThoai] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[ChucVu] [nvarchar](max) NULL,
	[TenDangNhap] [nvarchar](max) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
	[QuyenHan] [bit] NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien_VaiTro]    Script Date: 2/1/2026 10:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien_VaiTro](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NhanVienID] [int] NOT NULL,
	[VaiTroID] [int] NOT NULL,
 CONSTRAINT [PK_NhanVien_VaiTro] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyHoatDong]    Script Date: 2/1/2026 10:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyHoatDong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NhanVienID] [int] NOT NULL,
	[MoTaHoatDong] [nvarchar](max) NULL,
	[ThoiGian] [datetime2](7) NULL,
 CONSTRAINT [PK_NhatKyHoatDong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 2/1/2026 10:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DuAnID] [int] NOT NULL,
	[NhanVienID] [int] NOT NULL,
	[VaiTroTrongDuAn] [nvarchar](max) NULL,
	[DuAnID1] [int] NULL,
	[NhanVienID1] [int] NULL,
 CONSTRAINT [PK_PhanCong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCongCongViec]    Script Date: 2/1/2026 10:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongCongViec](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CongViecID] [int] NOT NULL,
	[NhanVienID] [int] NOT NULL,
 CONSTRAINT [PK_PhanCongCongViec] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiLieuDuAn]    Script Date: 2/1/2026 10:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiLieuDuAn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DuAnID] [int] NOT NULL,
	[TenTaiLieu] [nvarchar](max) NOT NULL,
	[DuongDan] [nvarchar](max) NULL,
	[NgayTaiLen] [datetime2](7) NULL,
 CONSTRAINT [PK_TaiLieuDuAn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienDo]    Script Date: 2/1/2026 10:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienDo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CongViecID] [int] NOT NULL,
	[PhanTram] [int] NOT NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_TienDo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 2/1/2026 10:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Bug_DuAnID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bug_DuAnID] ON [dbo].[Bug]
(
	[DuAnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bug_NguoiBaoCaoID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bug_NguoiBaoCaoID] ON [dbo].[Bug]
(
	[NguoiBaoCaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bug_NguoiXuLyID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bug_NguoiXuLyID] ON [dbo].[Bug]
(
	[NguoiXuLyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CongViec_DuAnID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_CongViec_DuAnID] ON [dbo].[CongViec]
(
	[DuAnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DuAn_KhachHangID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_DuAn_KhachHangID] ON [dbo].[DuAn]
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DuAn_QuanLyID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_DuAn_QuanLyID] ON [dbo].[DuAn]
(
	[QuanLyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhanVien_VaiTro_NhanVienID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_NhanVien_VaiTro_NhanVienID] ON [dbo].[NhanVien_VaiTro]
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhanVien_VaiTro_VaiTroID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_NhanVien_VaiTro_VaiTroID] ON [dbo].[NhanVien_VaiTro]
(
	[VaiTroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhatKyHoatDong_NhanVienID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_NhatKyHoatDong_NhanVienID] ON [dbo].[NhatKyHoatDong]
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhanCong_DuAnID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhanCong_DuAnID] ON [dbo].[PhanCong]
(
	[DuAnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhanCong_DuAnID1]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhanCong_DuAnID1] ON [dbo].[PhanCong]
(
	[DuAnID1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhanCong_NhanVienID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhanCong_NhanVienID] ON [dbo].[PhanCong]
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhanCong_NhanVienID1]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhanCong_NhanVienID1] ON [dbo].[PhanCong]
(
	[NhanVienID1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhanCongCongViec_CongViecID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhanCongCongViec_CongViecID] ON [dbo].[PhanCongCongViec]
(
	[CongViecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhanCongCongViec_NhanVienID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhanCongCongViec_NhanVienID] ON [dbo].[PhanCongCongViec]
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaiLieuDuAn_DuAnID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaiLieuDuAn_DuAnID] ON [dbo].[TaiLieuDuAn]
(
	[DuAnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TienDo_CongViecID]    Script Date: 2/1/2026 10:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_TienDo_CongViecID] ON [dbo].[TienDo]
(
	[CongViecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bug]  WITH CHECK ADD  CONSTRAINT [FK_Bug_DuAn_DuAnID] FOREIGN KEY([DuAnID])
REFERENCES [dbo].[DuAn] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bug] CHECK CONSTRAINT [FK_Bug_DuAn_DuAnID]
GO
ALTER TABLE [dbo].[Bug]  WITH CHECK ADD  CONSTRAINT [FK_Bug_NhanVien_NguoiBaoCaoID] FOREIGN KEY([NguoiBaoCaoID])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[Bug] CHECK CONSTRAINT [FK_Bug_NhanVien_NguoiBaoCaoID]
GO
ALTER TABLE [dbo].[Bug]  WITH CHECK ADD  CONSTRAINT [FK_Bug_NhanVien_NguoiXuLyID] FOREIGN KEY([NguoiXuLyID])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[Bug] CHECK CONSTRAINT [FK_Bug_NhanVien_NguoiXuLyID]
GO
ALTER TABLE [dbo].[CongViec]  WITH CHECK ADD  CONSTRAINT [FK_CongViec_DuAn_DuAnID] FOREIGN KEY([DuAnID])
REFERENCES [dbo].[DuAn] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CongViec] CHECK CONSTRAINT [FK_CongViec_DuAn_DuAnID]
GO
ALTER TABLE [dbo].[DuAn]  WITH CHECK ADD  CONSTRAINT [FK_DuAn_KhachHang_KhachHangID] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DuAn] CHECK CONSTRAINT [FK_DuAn_KhachHang_KhachHangID]
GO
ALTER TABLE [dbo].[DuAn]  WITH CHECK ADD  CONSTRAINT [FK_DuAn_NhanVien_QuanLyID] FOREIGN KEY([QuanLyID])
REFERENCES [dbo].[NhanVien] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DuAn] CHECK CONSTRAINT [FK_DuAn_NhanVien_QuanLyID]
GO
ALTER TABLE [dbo].[NhanVien_VaiTro]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_VaiTro_NhanVien_NhanVienID] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien_VaiTro] CHECK CONSTRAINT [FK_NhanVien_VaiTro_NhanVien_NhanVienID]
GO
ALTER TABLE [dbo].[NhanVien_VaiTro]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_VaiTro_VaiTro_VaiTroID] FOREIGN KEY([VaiTroID])
REFERENCES [dbo].[VaiTro] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien_VaiTro] CHECK CONSTRAINT [FK_NhanVien_VaiTro_VaiTro_VaiTroID]
GO
ALTER TABLE [dbo].[NhatKyHoatDong]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyHoatDong_NhanVien_NhanVienID] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhatKyHoatDong] CHECK CONSTRAINT [FK_NhatKyHoatDong_NhanVien_NhanVienID]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_DuAn_DuAnID] FOREIGN KEY([DuAnID])
REFERENCES [dbo].[DuAn] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_DuAn_DuAnID]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_DuAn_DuAnID1] FOREIGN KEY([DuAnID1])
REFERENCES [dbo].[DuAn] ([ID])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_DuAn_DuAnID1]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_NhanVien_NhanVienID] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_NhanVien_NhanVienID]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_NhanVien_NhanVienID1] FOREIGN KEY([NhanVienID1])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_NhanVien_NhanVienID1]
GO
ALTER TABLE [dbo].[PhanCongCongViec]  WITH CHECK ADD  CONSTRAINT [FK_PhanCongCongViec_CongViec_CongViecID] FOREIGN KEY([CongViecID])
REFERENCES [dbo].[CongViec] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanCongCongViec] CHECK CONSTRAINT [FK_PhanCongCongViec_CongViec_CongViecID]
GO
ALTER TABLE [dbo].[PhanCongCongViec]  WITH CHECK ADD  CONSTRAINT [FK_PhanCongCongViec_NhanVien_NhanVienID] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[PhanCongCongViec] CHECK CONSTRAINT [FK_PhanCongCongViec_NhanVien_NhanVienID]
GO
ALTER TABLE [dbo].[TaiLieuDuAn]  WITH CHECK ADD  CONSTRAINT [FK_TaiLieuDuAn_DuAn_DuAnID] FOREIGN KEY([DuAnID])
REFERENCES [dbo].[DuAn] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiLieuDuAn] CHECK CONSTRAINT [FK_TaiLieuDuAn_DuAn_DuAnID]
GO
ALTER TABLE [dbo].[TienDo]  WITH CHECK ADD  CONSTRAINT [FK_TienDo_CongViec_CongViecID] FOREIGN KEY([CongViecID])
REFERENCES [dbo].[CongViec] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TienDo] CHECK CONSTRAINT [FK_TienDo_CongViec_CongViecID]
GO
USE [master]
GO
